@page "/users"
@using BlazorApplicationProjectStock.Map
@using ProjectStockLibrary
@using AutoMapper



<PageTitle>Users</PageTitle>

<h1>Lists of Users</h1>



@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name </th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user._firstName</td>
                    <td>@user._lastName</td>
                    <td>@user._email</td>
                    <td>@user._phone</td>
                
              
                </tr>
            }
        </tbody>
    </table>
}

@code {
  private static HttpClient httpClient { get; set;  } = new HttpClient();
    private static MapperConfiguration mapperConfiguration { get; } =  new MapperConfiguration(configuration =>{
        configuration.AddProfile(new TdoMapper());
    });


    private static IMapper mapper = new Mapper(mapperConfiguration);



    public UserServiceReader reader = new UserServiceReader(httpClient,mapper);

     private List<Client>? users  =  mapper.Map<List<Client>>(reader.GetAll());
  
}
